@model List<Enfermo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Apellido
            </th>
            <th>
                Dirección
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Genero
            </th>
            <th>
                Nº Seguridad Social
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Apellido
            </td>
            <td>
                @item.Direccion
            </td>
            <td>
                @item.FechaNacimiento
            </td>
            <td>
                @item.Genero
            </td>
            <td>
                @item.Nss
            </td>
            <td>
                    <a asp-action="Details" asp-route-inscripcion="@item.Inscripcion" class="btn btn-success">Details</a> |
                    <a asp-action="Edit" asp-route-inscripcion="@item.Inscripcion" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete" asp-route-inscripcion="@item.Inscripcion" class="btn btn-danger">Delete</a> |
                    <a asp-action="DeleteRaw" asp-route-inscripcion="@item.Inscripcion" class="btn btn-danger">Delete Raw</a>
            </td>
        </tr>
}
    </tbody>
</table>