@model List<Enfermo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Apellido
            </th>
            <th>
                Dirección
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Genero
            </th>
            <th>
                Nº Seguridad Social
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nss)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Inscripcion" class="btn btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Inscripcion" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Inscripcion" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>